.nav_title{
margin: 5px;
}

.DropDown {
    z-index: 2;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color:turquoise;
    height: 100px;
    width: 180px;
    margin-right: 0%;
    margin-top: 0%;
}
.searchebox{
margin: 0 auto;
margin-left: 1%;




}